
body{
    background-color: lightseagreen;
}
ul:hover{
    background-color: blueviolet;
}
h1{
    color:pink;
}
.Bella{
    width:500px;
    height:500px;
}
h2{
    color:purple;
}
.Sophie{
    width:500px;
    height:500px;
}

h3{
    color:darkblue;
}
.Rosie{
    width:500px;
    height:500px;
}
/* This code features color, font, and image changes with selectors and classes.*/
